{% extends 'web/base.html' %}
{% block content %}
	<section class="courses-section spad">
		<div class="container">
			<div class="section-title text-center">
			</div>
			<div class="row">
                <!-- course item -->
                {% for i in form %}
				<div class="col-lg-3 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{{i.img.url}}" alt="">
						<div class="course-cat">
							<span class="hello">{{i.id}}.{{i.name}}</span>
						</div>
					</div>
                </div>
                {% endfor %}
			</div>
		</div>
    </section>
    {% endblock %}
	<!-- Courses section end-->
